<apex:page Controller="CreateSalesOrderFromCaseController">
    <apex:form >
        You are creating a Sales Order on this case record.  Would you like to proceed? <apex:commandButton action="{!createRecordsQuit}" value="   CREATE   "/>
        <p><a href="" onclick="history.back()">Cancel</a></p>
    </apex:form>
</apex:page>