<apex:page standardController="Campaign" extensions="LinkExistingEventLocationsExtension" title="Link Existing Event Locations">
    <apex:variable value="{!Campaign}" var="c" />
    <apex:sectionHeader title="Link Existing Event Locations" subtitle="{!c.Name}" />
    <apex:pageMessages />
    <apex:form >    
    <apex:pageBlock mode="edit">
        <apex:pageBlockButtons >
            <apex:commandButton value="Link" action="{!Link}" />
            <apex:commandButton value="Cancel" action="{!cancel}" />
        </apex:pageBlockButtons>
        <apex:pageBlockSection showHeader="false">
            Select which Event Locations you would like to link to the Campaign.
        </apex:pageBlockSection>
        <br />
        <apex:pageBlockTable value="{!EventLocations}" var="r" rendered="{!EventLocations.size > 0}">
            <apex:column >
                <apex:inputCheckbox value="{!r.Checked}" />
            </apex:column>
            <apex:column value="{!r.EventLocation.Name}" headerValue="Location Name" />
            <apex:column value="{!r.EventLocation.ShippingStreet}" headerValue="Street" />
            <apex:column value="{!r.EventLocation.ShippingCity}" headerValue="Suburb" />
            <apex:column value="{!r.EventLocation.ShippingState}" headerValue="State" />
            <apex:column value="{!r.EventLocation.ShippingPostalCode}" headerValue="Post Code" />
        </apex:pageBlockTable>    
        <apex:pageBlockSection showHeader="false" rendered="{!EventLocations.size = 0}">
            No Event Locations available.
        </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:form>
</apex:page>