<apex:page controller="VolunteerSearchCCController" sidebar="true" >
<script type="text/javascript">
    function doSearch() {
        searchServer (
            document.getElementById("cancerType").value,
            document.getElementById("ageRange").options[document.getElementById("ageRange").selectedIndex].value,
            document.getElementById("treatment").value,
            document.getElementById("category").value
        );
    }
</script>

    <apex:form >
        <apex:messages id="errors"/>
        <apex:pageBlock title="Find Me a CC Volunteer!" mode="edit">
            <table width="100%" border="0">
                <tr>
                    <td width="30%" valign="top">
                        <apex:pageBlock id="criteria" title="Parameters">

                            <apex:actionFunction name="searchServer" action="{!runSearch}" reRender="results, debug, errors, nav" status="refreshStatus">
                                <apex:param name="cancerType" value="" />
                                <apex:param name="ageRange" value="" />
                                <apex:param name="treatment" value="" />
                                <apex:param name="category" value="" />                                                                                                
                            </apex:actionFunction>

                            
                            <table cellpadding="2" cellspacing="2">
                                <tr>
                                    <td style="font-weight:bold">Cancer Type</td>
                                    <td>
                                        <select id="cancerType" onChange="doSearch();">
                                        <option value=""></option>
                                        <apex:repeat value="{!cancerType}" var="prm">
                                            <option value="{!prm}">{!prm}</option>
                                        </apex:repeat>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Age Range</td>
                                    <td>
                                        <select id="ageRange" onChange="doSearch();">
                                            <option value=""></option>
                                            <apex:repeat value="{!ageRange}" var="prm">
                                                <option value="{!prm}">{!prm}</option>
                                            </apex:repeat>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Treatment</td>
                                    <td>
                                        <select id="treatment" onChange="doSearch();">
                                            <option value=""></option>
                                            <apex:repeat value="{!treatment}" var="prm">
                                                <option value="{!prm}">{!prm}</option>
                                            </apex:repeat>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Category</td>
                                    <td>
                                        <select id="category" onChange="doSearch();">
                                            <option value=""></option>
                                            <apex:repeat value="{!category}" var="prm">
                                                <option value="{!prm}">{!prm}</option>
                                            </apex:repeat>
                                        </select>
                                    </td>
                                </tr>
                                <tr><td><apex:actionStatus id="refreshStatus" startstyle="color:blue;" startText="Loading..."></apex:actionStatus></td></tr>                                                                
                               
                            </table>
                        </apex:pageblock>
                    </td>
                    </tr>
                    <tr>
                    <td width="70%" valign="top">
                        <apex:pageblock id="results" mode="edit">
                            <apex:pageblockTable value="{!volList}" var="cl">
                                <apex:column >
                                    <apex:facet name="header">Name</apex:facet>
                                    <apex:outputLink value="/{!cl.id}">{!cl.name}</apex:outputLink>
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">Cancer Type</apex:facet>
                                    <apex:outputLabel value="{!cl.cancerType}"/>
                                </apex:column>
                                 <apex:column >
                                    <apex:facet name="header">Category</apex:facet>
                                    <apex:outputLabel value="{!cl.category}"/>
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">Treatment</apex:facet>
                                    <apex:outputLabel value="{!cl.treatment}"/>
                                </apex:column>     
                                <apex:column >
                                    <apex:facet name="header">Experiences</apex:facet>
                                    <apex:outputLabel value="{!cl.experiences}"/>
                                </apex:column>                                                                                             
                                <apex:column >
                                    <apex:facet name="header">Carer or Patient</apex:facet>
                                    <apex:outputLabel value="{!cl.carerOrPatient}"/>
                                </apex:column>
                                <apex:column >
                                    <apex:facet name="header">Age Range DOB</apex:facet>
                                    <apex:outputLabel value="{!cl.ageRangeDOB}"/>
                                </apex:column>                                
                                <apex:column >
                                    <apex:facet name="header">Last Referral Date</apex:facet>
                                    <apex:outputLabel value="{!cl.lastCcReferralMatchDate}"/>
                                </apex:column>
                            </apex:pageblockTable>
                        </apex:pageblock>
                    </td>
                </tr>
            </table>
                        
        </apex:pageBlock>
  <!-- <apex:pageBlock title="Debug - SOQL" id="debug">
      <apex:outputText value="{!debugSoql}" />           
  </apex:pageBlock> -->
    </apex:form>
</apex:page>